<ion-view title="Inbox Message">
  <ion-content class="has-header">
  <div class="list card">

  <div class="item ">
   <!--  <img src="http://ionicframework.com/img/docs/mcfly.jpg"> -->
    <h2>{{m.title}}</h2>
    <p>{{m.date}}</p>
  </div>

  <div class="item item-body">
   <!--  <img class="full-image" src="http://ionicframework.com/img/docs/delorean.jpg"> -->
    <p>
    {{m.message}}
    </p>
   
   <p>
     <a href="/#/app/content/3">View the Content Here</a>
   </p>
  </div>

</div>

</ion-view>
